/* HEADER AND FOOTER */
 .ui-header {
     height:54px;
 }
 .ui-header .ui-btn,  .ui-header .ui-title {
    margin-top: 7px;
 }
 /* CONTENT */
 .ui-content{
 	width: 90%;
 	margin: 0 auto;
 }
 .ui-content > div{
 	float: left;
 	 padding:.5%
 }

/* PANELS */
 .ui-panel-inner {
     padding:0px;
 }
 .ui-controlgroup {
     margin:0;
 }


/* CUSTOM ICONS */
.ui-icon-myicon:after {
    background-image: url("../img/user.png");
    background-size: 18px 18px;
}

/* TOP MENU NAVIGATION */
#top_menu{
	margin-top: -1px;
 	width: 100%;
}
#top_menu .ui-btn{
	width: 25%;
	margin: 1px 0;
	float: left
}

#home_title{
    padding-left:0px;
    padding right:0px; 
    margin:0px; 
    text-transform:uppercase; 
    font-size:13px; 
    margin-bottom:100%;
    letter-spacing: 3px;
}

#top_menu{
    padding-top:5px;
    margin: 0 auto;
}


.menu_cl{

    margin-left:5px !important;

    width:214px !important;
}
.indicator{
  
    margin: 0 auto !important;
    width: 97%;
}




.contents{
    width: 100% !important;
}

