/************  font settings styles   *************/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 100;
	src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans Semibold';
	font-style: normal;
	font-weight: 200;
	src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 20;
	src: local('Open Sans Light'), local('OpenSans Light'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
h1, h2, h3, p{
	padding: 0;
	margin: 0;
}
.public p, .public h3{
	color:#ffffff;
}
h1, h2, p{
	font-family: "Open Sans", arial;
}
.bold_font{
	font-family: "Open Sans Semibold", arial;
}
.thin_font{
	font-family: "Open Sans Light", arial;
	font-weight: 30px !important;
}
p{
	text-align: center;
}

/************  images styles   *************/
.logo{
	margin: 0 auto;
	width:40%;
	height: 100%;
	padding:10px 0;
}
.logo img{
	width:100%;
	max-width: 300px;
}


/*  ppic and img sample  */
#wallpaper{
	height: 80%;
}
#ppic{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left:15px;
	box-shadow: 0px 4px 0px #33ccff;
}
#profileHolder{
	position: relative;
	width: 120%;
	overflow: hidden;
	height:200px;
    	margin-top: -20px;
    	margin-left: -20px;
    	padding: 0;
  	background: url(images/wallpaper.jpg);
  	background-size: 100%;
}
/************  form / buttons/ navigations  styles *************/
*{
	text-shadow:none !important;
}
a, .ui-link{
	color:#0977cf !important;
	font-family: "Open Sans", arial;
	text-decoration: none;
}
.ui-btn{
	text-transform: uppercase;
	font-family: "Open Sans Semibold", arial !important;
	font-weight: bold;
	border:none !important;
	color: white !important;
}
.ui-input-text{
	margin-top:0px;
	margin-bottom:0px;
	border-top: none;
	border-left: none;
	border-right: none;
}
.ui-input-text:active{
	text-shadow:none !important;
}
.ui-input-text input{
	padding-top: 20px;
	text-shadow:none;
}
#form_signin.ui-input-text{
	border-top-left-radius: 5px !important;
	border-top-right-radius: 3px;
}

/************  body styles   *************/
::-webkit-scrollbar { 
    display: none; 
}
html, body {
    height : 100%;
}
.ui-header{
	max-height: 100px;
}
.background1{
	background:url(images/bg1.jpg) !important;
}
.background2{
	background:url(images/bg2.jpg) !important;
}
.background1, .background2{
	background-attachment: fixed;
	background-size: 100% 100%  !important;
	background-repeat: no-repeat !important;
	background-position: center center;
}

.ui-content{
	height: 100%;
	margin-bottom:0;
	max-width: 700px;
	margin: 0 auto;
}
.footer{
	position:absolute;
	bottom:0;
}
.ui-content
{
    margin-bottom:75px;
}
.ui-footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background: none;
    border: none !important;
    max-height: 300px;
}
.home_footer{
	height:20%; 
	width:100%; 
	background:url(images/shade.png);
	background-repeat: repeat;
	padding-bottom: 15%;
	padding-top: 10%;
}
.home_footer>div{
	width: 90%;
	margin: 0 auto;
	position: relative; 
	bottom: 0;/*
	background:transparent !important; */
	border:none !important; 
	height:30% !important; 
}

.home_footer a{
	padding: 15px 30px !important;
	width: 20%;
	margin: 2% 3%;
	display: inline-block;
}
#home_title{
	padding-left:0px;
	padding right:0px; 
	margin:0px; 
	text-transform:uppercase; 
	font-size:13px; 
	margin-bottom:100%;
	letter-spacing: 3px;
}

#top_menu{
	padding-top:5px;
	margin: 0 auto;
}

.menu_cl{
width:216px !important;
	margin:7px 3px 0px 3px !important; 
}

.indicator{
	margin:0px 3px 0px 3px !important; 
	margin: 0 auto !important;
	width: 96%;
}
